.s-main {
  counter-reset: section;

  &__section {
    position: relative;
    padding: 30px;
    min-height: 800px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--accent-color);
      opacity: 0.125;
      z-index: -2;
    }

    &:nth-child(even) {

      .s-main__question {
        order: 2;
      }

      .s-main__answer {
        order: 1;
        margin-left: 0;
        margin-right: 30px;
      }
    }

    &--q1 {
      --accent-color: #fa8c87;
      --coverPositionTop: 20px;
      --coverPositionLeft: 585px;
      --coverWidth: 430px;
    }

    &--q2 {
      --accent-color: #419ca3;
      --coverPositionTop: 170px;
      --coverPositionLeft: 215px;
      --coverWidth: 625px;
    }
  }

  &__question {
    position: relative;
    width: 100%;
    max-width: 740px;
    background-color: #fff;
    padding: 50px 180px 50px 60px;
    order: 1;

    &::before {
      position: absolute;
      content: counter(section, decimal-leading-zero);
      counter-increment: section;
      bottom: 100%;
      left: 0;
      transform: translateY(35px);
      font-size: 120px;
      line-height: 150px;
      font-weight: 900;
      color: #fff;
    }
  }

  &__question-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 28px;
  }

  &__question-form {
    counter-reset: field;
  }

  &__question-field-wrap {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &--chosen-answer {

      .s-main__question-field-text {

        &::after {
          position: absolute;
          content: '';
          top: 0;
          left: -7px;
          background-color: #bac2c7;
          width: 27px;
          height: 27px;
          border-radius: 27px;
          z-index: 1;
        }
      }
    }

    &--correct-answer,
    &--wrong-answer {

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 27px;
        height: 27px;
      }
    }

    &--correct-answer {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 27 27'%3E%3Ccircle cx='13.5' cy='13.5' r='13.5' fill='%23BCD3C7'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M21.7172 10.6971l-9.467 9.7375-6.967-7.1661 1.43399-1.3942 5.53301 5.6911 8.033-8.26248 1.434 1.39418z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }

    &--wrong-answer {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 27 27'%3E%3Ccircle cx='13.5' cy='13.5' r='13.5' fill='%23FA8C87'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M12.4159 13.83L5.29297 6.70712l1.41421-1.41421L15.2443 13.83l-8.53712 8.5371-1.41421-1.4142L12.4159 13.83z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M15.2835 13.83l7.1229-7.12288-1.4142-1.41421L12.4551 13.83l8.5371 8.5371 1.4142-1.4142-7.1229-7.1229z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }
  }

  &__question-field-name {
    position: relative;
  }

  &__question-field-input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border: none;
  }

  &__question-field-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    display: inline-block;

    &::before {
      content: counter(field, lower-alpha);
      counter-increment: field;
      font-weight: 900;
      width: 30px;
      display: inline-block;
      position: relative;
      z-index: 2;
    }
  }

  &__section-cover {
    position: absolute;
    top: var(--coverPositionTop);
    left: var(--coverPositionLeft);
    width: 100%;
    max-width: var(--coverWidth);
    height: auto;
  }

  &__answer {
    background-color: var(--accent-color);
    color: #fff;
    margin-left: 30px;
    width: 100%;
    max-width: 350px;
    padding: 30px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    border-radius: 20px;
    order: 2;

    p + p {
      margin-top: 20px;
    }

    &::before {
      position: absolute;
      content: '';
      background-image: url('../img/van-gog.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 120px;
      height: 130px;
      right: 0;
      bottom: 100%;
      transform: translateY(10px);
      z-index: -1;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 100%;
      right: 130px;
      width: 0;
      height: 0;
      border-bottom: 35px solid var(--accent-color);
      border-left: 35px solid transparent;
    }
  }
}