//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/main/main.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/result/result.pug
