.s-result {
  background-color: #fff;
  position: relative;
  padding: 30px;
  min-height: 800px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__inner {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      position: absolute;
      content: attr(data-desc);
      font-size: 200px;
      line-height: 244px;
      text-transform: uppercase;
      font-weight: 900;
      color: #f7bdB9;
      white-space: nowrap;
    }
  }

  &__image {
    transform: translate3d(20px,14px,0);
  }

  &__title {
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 900;
    transform: translateY(7px);
  }

  &__total {
    position: relative;
    background-color: #fff;
    min-width: 400px;
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__total-text {
    font-size: 48px;
    line-height: 60px;
    font-weight: 900;
  }

  &__total-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100px;
      height: 87px;
    }

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 100 87'%3E%3Cpath fill='%23F7BDB9' stroke='%23000' d='M34.051 25.7695L34.05 25.7694C32.3924 25.6889 30.4334 25.7122 28.358 25.737C27.8209 25.7434 27.2761 25.7499 26.7266 25.7547C24.0416 25.7782 21.2308 25.7621 18.6053 25.5074C15.9748 25.2522 13.5681 24.7606 11.677 23.8541C9.798 22.9534 8.45664 21.659 7.87794 19.7928C7.17779 17.4829 7.37067 15.6861 8.04215 14.2735C8.71908 12.8494 9.90955 11.7591 11.3006 10.924C14.0776 9.25699 17.516 8.68627 18.7535 8.48086L18.7696 8.47818C37.6265 5.96689 56.4848 3.45538 75.3434 0.843394C77.5772 0.539962 79.8971 0.258533 82.0025 0.830542C85.1102 1.67482 87.6663 4.4807 88.1791 7.6552C88.1621 7.71986 88.1376 7.81388 88.1067 7.93379C88.0442 8.17682 87.9558 8.52632 87.852 8.9534C87.6444 9.80712 87.3748 10.9729 87.1272 12.2188C86.8799 13.4632 86.6529 14.796 86.5324 15.9815C86.4148 17.139 86.3896 18.2313 86.5916 18.96C86.6747 19.2964 86.941 19.5519 87.1779 19.7376C87.4382 19.9415 87.7777 20.1463 88.1514 20.3543C88.4601 20.5261 88.7886 20.6988 89.1358 20.8813C89.6707 21.1626 90.2502 21.4673 90.871 21.8283C92.8862 23.0004 94.9322 24.5531 95.6774 26.8264C96.0428 27.9412 95.9998 29.192 95.7015 30.4861C95.4036 31.7789 94.8582 33.0828 94.2559 34.2829C93.7081 35.3742 93.1216 36.3636 92.642 37.1727C92.5945 37.2529 92.548 37.3314 92.5027 37.408C92.2544 37.8278 92.0362 38.2016 91.8835 38.5008C91.8073 38.6502 91.7406 38.7939 91.694 38.9239C91.6537 39.0364 91.6016 39.2081 91.6214 39.3851L91.6227 39.3971L91.6246 39.409C91.8583 40.8637 92.8245 41.8196 93.8796 42.5852C94.3121 42.899 94.7787 43.194 95.2306 43.4797C95.329 43.5419 95.4267 43.6036 95.5232 43.665C96.0713 44.0139 96.5887 44.3565 97.0403 44.7352C99.5569 46.8717 100.072 50.7453 98.9102 53.9271C97.744 57.1217 95.301 59.7662 92.6954 62.0622C81.5765 71.8412 67.5371 77.6417 53.5153 82.9676C46.3291 85.69 38.5583 88.2065 31.5124 84.9907C29.9017 84.2349 28.5997 82.9245 28.0451 81.2672L28.0436 81.2628C27.5397 79.8025 27.7677 78.6447 28.3342 77.6402C28.9177 76.6055 29.8629 75.7274 30.8275 74.8677C39.9688 66.7621 50.2168 60.056 61.2712 54.7502L61.2713 54.7503L61.2778 54.747C62.0517 54.3615 62.2016 53.5653 61.9767 52.9679C61.757 52.3842 61.1277 51.8756 60.3214 52.1081C56.9552 52.9102 53.208 53.8994 49.2628 54.9409L48.8499 55.0499C44.7458 56.1332 40.4331 57.2684 36.1024 58.3092C27.4336 60.3928 18.7288 62.0894 11.5246 62.2389C6.60575 62.3389 3.70468 61.6819 2.12847 60.6907C1.35365 60.2035 0.910747 59.6433 0.688216 59.056C0.463925 58.4641 0.446477 57.7993 0.601838 57.08C0.916313 55.6238 1.91871 54.0389 3.09493 52.6492C4.264 51.268 5.55298 50.14 6.36594 49.5917C15.4725 43.6111 26.4978 40.1119 37.0874 37.098L37.092 37.0966C38.1056 36.7974 39.1344 36.5077 40.1695 36.2161C44.6492 34.9545 49.2463 33.6597 53.2309 31.427L53.2309 31.427L53.2363 31.424C55.5871 30.0681 54.8126 26.5375 52.1461 26.1752L52.1461 26.1752L52.1375 26.1742C49.1287 25.8186 46.0762 25.7939 43.0481 25.8191C42.4933 25.8237 41.9397 25.8299 41.3873 25.8362C38.9151 25.8642 36.4672 25.8918 34.051 25.7695Z'/%3E%3C/svg%3E");
      right: -15px;
      top: 35px;
    }

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 100 87'%3E%3Cpath fill='%23F7BDB9' stroke='%23000' d='M65.949 25.7695L65.95 25.7694C67.6076 25.6889 69.5666 25.7122 71.642 25.737C72.1791 25.7434 72.7239 25.7499 73.2734 25.7547C75.9584 25.7782 78.7692 25.7621 81.3947 25.5074C84.0252 25.2522 86.4319 24.7606 88.323 23.8541C90.202 22.9534 91.5434 21.659 92.1221 19.7928C92.8222 17.4829 92.6293 15.6861 91.9578 14.2735C91.2809 12.8494 90.0904 11.7591 88.6994 10.924C85.9224 9.25699 82.484 8.68627 81.2465 8.48086L81.2304 8.47818C62.3735 5.96689 43.5152 3.45538 24.6566 0.843394C22.4228 0.539962 20.1029 0.258533 17.9975 0.830542C14.8898 1.67482 12.3337 4.4807 11.8209 7.6552C11.8379 7.71986 11.8624 7.81388 11.8933 7.93379C11.9558 8.17682 12.0442 8.52632 12.148 8.9534C12.3556 9.80712 12.6252 10.9729 12.8728 12.2188C13.1201 13.4632 13.3471 14.796 13.4676 15.9815C13.5852 17.139 13.6104 18.2313 13.4084 18.96C13.3253 19.2964 13.059 19.5519 12.8221 19.7376C12.5618 19.9415 12.2223 20.1463 11.8486 20.3543C11.5399 20.5261 11.2114 20.6988 10.8642 20.8813C10.3293 21.1626 9.74977 21.4673 9.12902 21.8283C7.11377 23.0004 5.06778 24.5531 4.32262 26.8264C3.9572 27.9412 4.00021 29.192 4.29847 30.4861C4.59644 31.7789 5.1418 33.0828 5.74415 34.2829C6.29191 35.3742 6.87836 36.3636 7.35796 37.1727C7.40551 37.2529 7.45202 37.3314 7.49733 37.408C7.74564 37.8278 7.9638 38.2016 8.11649 38.5008C8.19271 38.6502 8.25937 38.7939 8.30595 38.9239C8.34631 39.0364 8.39836 39.2081 8.37861 39.3851L8.37727 39.3971L8.37537 39.409C8.14172 40.8637 7.17547 41.8196 6.12041 42.5852C5.6879 42.899 5.22129 43.194 4.76936 43.4797C4.67099 43.5419 4.57332 43.6036 4.47684 43.665C3.92874 44.0139 3.41131 44.3565 2.95974 44.7352C0.443069 46.8717 -0.0716476 50.7453 1.08981 53.9271C2.25597 57.1217 4.69902 59.7662 7.30458 62.0622C18.4235 71.8412 32.4629 77.6417 46.4847 82.9676C53.6709 85.69 61.4417 88.2065 68.4876 84.9907C70.0983 84.2349 71.4003 82.9245 71.9549 81.2672L71.9564 81.2628C72.4603 79.8025 72.2323 78.6447 71.6658 77.6402C71.0823 76.6055 70.1371 75.7274 69.1725 74.8677C60.0312 66.7621 49.7832 60.056 38.7288 54.7502L38.7287 54.7503L38.7222 54.747C37.9483 54.3615 37.7984 53.5653 38.0233 52.9679C38.243 52.3842 38.8723 51.8756 39.6786 52.1081C43.0448 52.9102 46.792 53.8994 50.7372 54.9409L51.1501 55.0499C55.2542 56.1332 59.5669 57.2684 63.8976 58.3092C72.5664 60.3928 81.2712 62.0894 88.4754 62.2389C93.3942 62.3389 96.2953 61.6819 97.8715 60.6907C98.6463 60.2035 99.0893 59.6433 99.3118 59.056C99.5361 58.4641 99.5535 57.7993 99.3982 57.08C99.0837 55.6238 98.0813 54.0389 96.9051 52.6492C95.736 51.268 94.447 50.14 93.6341 49.5917C84.5275 43.6111 73.5022 40.1119 62.9126 37.098L62.908 37.0966C61.8944 36.7974 60.8656 36.5077 59.8305 36.2161C55.3508 34.9545 50.7537 33.6597 46.7691 31.427L46.7691 31.427L46.7637 31.424C44.4129 30.0681 45.1874 26.5375 47.8539 26.1752L47.8539 26.1752L47.8625 26.1742C50.8713 25.8186 53.9238 25.7939 56.9519 25.8191C57.5067 25.8237 58.0603 25.8299 58.6127 25.8362C61.0849 25.8642 63.5328 25.8918 65.949 25.7695Z'/%3E%3C/svg%3E");
      left: -15px;
      top: 25px;
    }
  }

  &__count {
    margin-top: 30px;
    background-color: #f6f7fb;
    border-radius: 68px;
    min-height: 68px;
    padding: 23px 27px;
    visibility: hidden;
  }
}