extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block content

  mixin section(props)

    -
      if (typeof(props) === 'undefined') {
        var props = {};
      }

      var allMods = '';

      if (typeof(props.mods) !== 'undefined' && props.mods) {
        var modsList = props.mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          allMods = allMods + ' s-main__section--' + modsList[i].trim();
        }
      }

    .s-main__section(class=allMods)&attributes(attributes)
      .s-main__question
        h2.s-main__question-title #{props.question}
        form.s-main__question-form

          each variant in props.answerVariants
            -
              var allMods = '';
              if (typeof(variant.mods) !== 'undefined' && variant.mods) {
                var modsList = variant.mods.split(',');
                for (var i = 0; i < modsList.length; i++) {
                  allMods = allMods + ' s-main__question-field-wrap--' + modsList[i].trim();
                }
              }

            .s-main__question-field-wrap(class=allMods)
              label.s-main__question-field-name
                input.s-main__question-field-input&attributes(variant.attrs)
                span.s-main__question-field-text!= variant.title

        .s-main__section-cover
          img(src=props.coverImage, alt='')
      .s-main__answer
        p #{props.answer}

        if props.answerImage
          p: img(src=props.answerImage, alt='')


  .s-main

    +section({
      mods: 'q1',
      question: 'Сколько черных квадратов нарисовал Казимир Малевич?',
      answer: 'Известно о четырех версиях «Черного квадрата» Малевича — 1915-го, 1923-го, 1929-го и 1932 года. Все они отличаются оттенками, размером, пропорциями.',
      coverImage: 'img/bg-q1.png',
      answerVariants: [
        {
          title: 'Один',
          mods: 'wrong-answer, chosen-answer',
          attrs: {
            type: 'radio',
            name: 'q1',
            id: 'q1-a1',
            value: 'q1-a1'
          }
        },
        {
          title: 'Два',
          mods: '',
          attrs: {
            type: 'radio',
            name: 'q1',
            id: 'q1-a2',
            value: 'q1-a2'
          }
        },
        {
          title: 'Три',
          mods: '',
          attrs: {
            type: 'radio',
            name: 'q1',
            id: 'q1-a3',
            value: 'q1-a3'
          }
        },
        {
          title: 'Четыре',
          mods: 'correct-answer',
          attrs: {
            type: 'radio',
            name: 'q1',
            id: 'q1-a4',
            value: 'q1-a4',
            answer: ''
          }
        }
      ]
    })

    +section({
      mods: 'q2',
      question: 'Этот художник создавал свои работы, используя картинки из комиксов или мультфильмов, а также технологию, пришедшую из промышленной печати.',
      answer: 'В 60-е годы ХХ века Рой Лихтенштейн начал создавать картины, основанные на изображениях из журналов комиксов, благодаря чему добился огромной популярности.',
      answerImage: 'img/a-q2.png',
      coverImage: 'img/bg-q2.png',
      answerVariants: [
        {
          title: 'Рой Лихтенштейн',
          mods: '',
          attrs: {
            type: 'chackbox',
            name: 'q2',
            id: 'q2-a1',
            value: 'q2-a1',
            answer: ''
          }
        },
        {
          title: 'Энди Уорхол',
          mods: '',
          attrs: {
            type: 'chackbox',
            name: 'q2',
            id: 'q2-a2',
            value: 'q2-a2'
          }
        },
        {
          title: 'Джаспер Джонс',
          mods: '',
          attrs: {
            type: 'chackbox',
            name: 'q2',
            id: 'q2-a3',
            value: 'q2-a3'
          }
        },
        {
          title: 'Кит Харинг',
          mods: '',
          attrs: {
            type: 'chackbox',
            name: 'q2',
            id: 'q2-a4',
            value: 'q2-a4'
          }
        }
      ]
    })


  .s-result
    .s-result__inner(data-desc='Finish')
      img.s-result__image(src='img/gogh.svg', alt='', width='190', height='205')
      h2.s-result__title Твой результат
      .s-result__total
        .s-result__total-text
          span 7
          |  из
          span 15
        .s-result__total-wrap
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 398 142', preserveAspectRatio='none')
            path(fill='#FA8C87', d='M382.709 9.77812L354.621 71.9235l28.088 60.4075H15.291l28.0877-62.1458L15.291 9.77812h367.418zM397.783 0H0l6.50681 13.9067L32.6425 70.1852 6.39837 128.202.108447 142H398l-6.507-13.907-26.135-56.2782 26.244-58.0168L397.783 0z')
    .s-result__count
      .s-result__count-inner
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 34 21', width='34', height='21')
          path(fill='#FA8C87', d='M17 14.5385C14.7657 14.5385 12.9524 12.7292 12.9524 10.5C12.9524 8.27077 14.7657 6.46154 17 6.46154C19.2343 6.46154 21.0476 8.27077 21.0476 10.5C21.0476 12.7292 19.2343 14.5385 17 14.5385ZM17 0C7.60952 0 0 10.5 0 10.5C0 10.5 7.60952 21 17 21C26.3905 21 34 10.5 34 10.5C34 10.5 26.3905 0 17 0Z')
